<h2 mat-dialog-title>Please enter a resume name.</h2>

<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Resume Name" [(ngModel)]="data.resumeName">
    </mat-form-field>
</mat-dialog-content>
<div>
    <button mat-raised-button (click)="onCloseClick()">Close</button>
    <button mat-raised-button (click)="onSaveClick()" [disabled]="!data.resumeName">Save</button>
</div>

<mat-divider></mat-divider>
<div *ngFor="let save of resumeSaveList">
    <mat-card mat-raised-button class="mat-elevation-z4" (click)="selectCard(save.resumeName, save.resumeID)">
        <mat-card-header>
            <mat-card-title>{{save.resumeName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Date Modified: {{save.saveDate}}</p>
        </mat-card-content>
    </mat-card>
</div>