<body>
<div class="container">
<div class="myTitle">
<h2>Professional Resume Builder</h2>
</div>
<!--  &lt;!&ndash;<button (click)="download()">generate word doc</button><br />&ndash;&gt;-->

<!--&lt;!&ndash;<app-general (outputName)="display($event)"></app-general>&ndash;&gt;-->
<!--<app-angular-resume (outputName)="display($event)"></app-angular-resume>-->


<!--<p *ngIf="register">-->
<!--  <a [routerLink]="'/register'">Register</a><br />-->
<!--</p>-->

<!--<p *ngIf="login">-->
<!-- <a [routerLink]="'/'">Login</a>-->
<!--</p>-->

<!--<p *ngIf="newOutputName">-->
<!--  Name: {{newOutputName.general.name}}-->
<!--  <br>-->
<!--  Email: {{newOutputName.general.email}}-->
<!--  <br>-->
<!--  Socials: {{newOutputName.general.socials}}-->
<!--  <br>-->
<!--  Phone Number: {{newOutputName.general.phoneNumber}}-->
<!--</p>-->

<!--</div>-->
<!--</body>-->
<router-outlet></router-outlet>
