.myTitle {
  color: white;
  text-align: center;
  padding-top: 20px;
}

body {
  background-color: rgb(33, 28, 58);
  border: 0;
}

.container {
    clear: both;
    padding: 0px 250px;
    background-color: rgb(33, 28, 58);
  }
  
  .container input {
    clear: both;
  }

  .container button {
    background-color:white;
    border: 0;
    color:black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }