.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
  }
  
  .container input {
    width: 100%;
    clear: both;
    color: rgb(0, 71, 0);
  }

  .mat-expansion-panel-header {
    background: lightblue;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    
  }

  .mat-expansion-panel-header mat-panel-title {
    color: brown;
  }

  .mat-expansion-panel {
    background: rgb(233, 226, 226);
  }

  .container mat-expansion-panel mat-label {
    color: blue;
  }

  .checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
    color: blue;
  }
  .checkboxes input {
    vertical-align: middle;
  }
  
  .checkboxes label span {
    vertical-align: middle;
  }

  .addButton, .deleteButton{
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .addButton button{
    background-color: lightgreen;
    border: 2px solid brown;
    color: brown;
  }

  .deleteButton button{
    background-color: orangered;
    color: white;
  }

  .printButton{
    border: none;
    text-align: center;
    text-decoration: none;
    
  }

  .printButton button{
    background-color: brown;
    color:white;
    font-size: 20px;
  }

  .form-group label {
    color: blue;
    font-size: 18px;
    padding-right: 20px;
  }

  .stayInLine{
    display: inline-block;
    padding-right: 10px;
  }