  .container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 28, 58);
  }
  
  .container input {
    width: 100%;
    clear: both;
    color: black;
  }

  .mat-expansion-panel-header {
    background: white;
    font-size: 20px;
    font-family: Georgia, cursive, sans-serif;
    font-weight: bold;
  }

  .mat-expansion-panel-header mat-panel-title {
    color: black;
  }

  .mat-expansion-panel {
    background: white;
  }

  .container mat-expansion-panel mat-label {
    color: black;
  }

  .checkboxes {
    /* display: inline-block; */
    padding-right: 10px;
    white-space: nowrap;
    color: black;
    text-align: right;
  }

  .deleteButton mat-icon {
    font-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
  }

  .spacer{
    flex: 1 1 auto;
  }

  .form-group label {
    color: black;
    font-size: 18px;
    padding-right: 20px;
  }

  .stayInLine{
    display: inline-block;
    padding-right: 10px;
  }

  .menu{
    margin-top: 10px;
  }

  .mat-form-field-disabled input{
    color: rgb(150, 150, 150) !important;
  }

  .mat-form-field-disabled mat-label{
    color: rgb(150, 150, 150) !important;
  }