<p>login works!</p>

<h1>User Login</h1>
  <div class="form-group" [formGroup]="loginForm">
    <mat-form-field appearance="outline">

      <mat-label >Email:</mat-label>
      <label>
        <input matInput [formControl]='useremail' >
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label >Password:</mat-label>
      <label>
        <input matInput [formControl]='userpass'>
      </label>

    </mat-form-field>
  </div>

<div>
    <Button (click)="loginCheck()">Login</Button>
    <Button (click)="this.router.navigate(['/register'])">Register</Button>

</div>
