.container {
    margin-top: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(75, 86, 90); */
  }

.form-group {
    padding-top: 20px;
    text-align: center;
}

.form-group mat-form-field {
    /* margin-left: auto;
    margin-right: auto; */
    width: 300px;
}

.form-group button {
    margin-left: 5px;
    margin-right: 5px;
}

mat-hint{
    color: red;
}