<!-- <p>login works!</p>

<h1>User Login</h1> -->
<mat-card class="container">
  <div class="form-group" [formGroup]="loginForm">
    <div>
      <mat-form-field appearance="outline">
      <mat-label >Email</mat-label>
      <input matInput type="text" [formControl]='useremail' >
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label >Password</mat-label>
        <input matInput type="text" [formControl]='userpass'>
      </mat-form-field>
    </div>
    <button  mat-raised-button color="primary" (click)="loginCheck()">Login</button>
    <button  mat-raised-button color="primary" (click)="this.router.navigate(['/register'])">Register</button>
  </div>
</mat-card>


<!-- <div class="form-group" [formGroup]="basicFormGroup">
  <div class="stayInLine">
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label >Name</mat-label>
      <input matInput type="text" formControlName="name" >
    </mat-form-field>
  </div>

  <div class="stayInLine">
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
  </div>
</div><br /> -->


