<div class="form-group">
    <div>
      <label for="name">name</label>
      <input type="text" id="name"  #nameInput>
    </div>
  
    <div>
      <label for="socials">Social</label>
      <input type="text" id="socials" #socialInput>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" #emailInput>
    </div>
    <div>
      <label for="phoneNumber">Phone number</label>
      <input type="tel" id="phoneNumber" maxlength="10" #numberInput>
    </div>
  </div>
  
  <p><button type="submit" (click)="sendName()">Generate Resume</button></p>

  <h1>Preparing Angular Resume Input Form...</h1>

  
<!-- Summary -->
<h2>Summary</h2>
<div class="form-group">
    <div>
      <label for="summary"></label>
      <textarea name="summary" rows="5" cols="60" #summary></textarea>
    </div>
  </div><br />
  
<!-- Education -->
<h2>Education</h2>
<div class="form-group">
    <div>
      <label for="school">Add School</label><br />
      <input type="text" id="school" #educationschool>
    </div>
    <div>
        <label for="location">Add City/State</label><br />
        <input type="text" id="location" #educationlocation>
      </div>
      <div>
        <label for="educationstart">Start Date</label><br />
        <input type="text" id="educationstart" #educationstart>
      </div>
      <div>
        <label for="educationend">End Date</label><br />
        <input type="text" id="educationend" #educationend>
      </div>
      <div>
        <label for="educationcurrent">Currently Attending?</label>
        <input type="checkbox" id="educationcurrent" #educationcurrent>
      </div>
      <div>
        <label for="educationdegree">Degree</label><br />
        <input type="text" id="educationdegree" #educationdegree>
      </div>
  </div><br />
  
<!-- Experience -->
<h2>Experience</h2>
<div class="form-group">
    <div>
      <label for="jobcompany">Add Company</label><br />
      <input type="text" id="jobcompany" #jobcompany>
    </div>
    <div>
    <label for="joblocation">Add Job Location</label><br />
      <input type="text" id="joblocation" #joblocation>
    </div>
    <div>
    <label for="jobstart">Add Job Start Date</label><br />
      <input type="text" id="jobstart" #jobstart>
    </div>
    <div>
        <label for="jobend">Add Job End Date</label><br />
          <input type="text" id="jobend" #jobend>
    </div>
    <div>
        <label for="jobcurrent">Currently Working?</label>
        <input type="checkbox" id="jobcurrent" #jobcurrent>
      </div>
    <div>
        <label for="jobdescription">Add Job Description</label><br />
          <textarea name="jobdescription" rows="5" cols="60" #jobdescription></textarea>
    </div>
  </div><br />

<!-- Skills -->
<h2>Skills</h2>
<div class="form-group">
    <div>
        <label for="skillsdescription">Add Skills</label><br />
          <textarea name="skillsdescription" rows="5" cols="60" #skillsdescription></textarea>
    </div>
  </div><br />

<!-- Projects -->
<h2>Projects</h2>
<div class="form-group">
    <div>
        <label for="projecttitle">Add Project Title</label><br />
        <input type="text" id="projecttitle" #projecttitle>
      </div>
    <div>
        <label for="projectdescription">Add Project Description</label><br />
          <textarea name="projectdescription" rows="5" cols="60" #projectdescription></textarea>
    </div>
  </div><br />

<!-- Achievements -->
<h2>Achievements</h2>
<div class="form-group">
    <div>
        <label for="achievementissuer">Add Issuer</label><br />
        <input type="text" id="achievementissuer" #achievementissuer>
      </div>
      <div>
        <label for="achievementname">Add Name</label><br />
        <input type="text" id="achievementname" #achievementname>
      </div>
      <div>
        <label for="achievementdate">Add Date</label><br />
        <input type="text" id="achievementdate" #achievementdate>
      </div>
  </div><br />

<!-- Websites -->
<h2>Websites</h2>
<div class="form-group">
    <div>
        <label for="website">Add Website</label><br />
        <input type="text" id="website" #website>
      </div>
  </div><br />
<h2>Submit Form Button here</h2>